name = "enclosed"
compatibility_date = "2024-08-20"
pages_build_output_dir = "./dist"

[env.production.vars]
VITE_IS_SETTING_NO_EXPIRATION_ALLOWED = "true"
VITE_DEFAULT_NOTE_NO_EXPIRATION = "true"

# Define KV bindings for the production environment
[[env.production.kv_namespaces]]
binding = "notes"
id = "804e6f0bf3a94068809f3cd5fb1ae5e0"
